:root {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

header {
  position: fixed;
  top:20vh;
  right: 0;
}

#menu ul{
    display:block;
    text-align: right;
}

#menu li{
  margin-top: 20px; 
  padding: 20px;
}

#menu a{
    text-decoration: none;
}


section {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}

#section1 {
  background-color: lightgreen;
}

.video1{
  position: absolute;
  top:10vh;
  right:20vw;
}


#section2 {
  background-color: lightsalmon;
}

.video2{
  position: absolute;
  top:110vh;
  right:20vw;
}

#section3 {
  background-color: lightslategray;
}

#section4 {
  background-color: lightseagreen;
}

.video4{
  position: absolute;
  top:310vh;
  right:20vw;
}

#socialMediaLinks{
    position:fixed;
    top: 15vh;
    left:1vw;
    width: 7vw;
    height: 40vh;
}

.link-facebook{
    position:absolute;
    width: 7vw;
    height: 7vh;
    background-image: url('/media-files/facebook.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.link-instagram{
    position: absolute;
    top: 7vh;
    width: 7vw;
    height: 7vh;
    background-image: url('/media-files/instagram.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.link-instagram{
    position: absolute;
    top: 8vh;
    width: 7vw;
    height: 7vh;
    background-image: url('/media-files/instagram.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.link-pinterest{
    position: absolute;
    top: 16vh;
    width: 7vw;
    height: 7vh;
    background-image: url('/media-files/pinterest.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.link-linkedin{
    position: absolute;
    top: 24vh;
    width: 7vw;
    height: 7vh;
    background-image: url('/media-files/linkedin.png');
    background-size: contain;
    background-repeat: no-repeat;
}
