:root {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

header {
  position: fixed;
  top:20vh;
  right: 0;
  z-index: 10;
}

#menu ul{
    display:block;
    text-align: right;
}

#menu li{
  margin-top: 20px; 
  padding: 20px;
}

#menu a{
    text-decoration: none;
}


section {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}

#section1 {
  background-color: lightgreen;
}

#article-surfing .video1{
  position: absolute;
  top:5vh;
  right:15vw;
}

#article-surfing div:nth-child(2){
  position: absolute;
  top:10vh;
  left: 5vw;
  width: 60vw;
  height: 80vh;
  background-image: url("/media-files/surfing-car.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

#article-surfing div:nth-child(3){
  position: absolute;
  top:50vh;
  left: 20vw;
  width: 80vw;
  height: 60vh;
  background-image: url("/media-files/surfing-people.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3;
}


#section2 {
  background-color: lightsalmon;
}

#article-sailing .video2{
  position: absolute;
  top:110vh;
  right:9vw;
}

#article-sailing div:nth-child(2){
  position: absolute;
  top:160vh;
  right: 0vw;
  width: 60vw;
  height: 40vh;
  background-image: url("/media-files/knots.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3;
}

#article-sailing div:nth-child(3){
  position: absolute;
  top:110vh;
  left: 5vw;
  width: 60vw;
  height: 80vh;
  background-image: url("/media-files/compass.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}


#section3 {
  background-color: lightslategray;
}

#article-drawings div:nth-child(1){
  position: absolute;
  top:210vh;
  left: 45vw;
  width: 30vw;
  height: 20vh;
  background-image: url("/media-files/para_2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#article-drawings div:nth-child(2){
  position: absolute;
  top:190vh;
  left: 5vw;
  width: 60vw;
  height: 70vh;
  transform: rotate(-30deg);
  background-image: url("/media-files/chile_4.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#article-drawings div:nth-child(3){
  position: absolute;
  top:270vh;
  left: 30vw;
  width: 20vw;
  height: 30vh;
  transform: rotate(50deg);
  background-image: url("/media-files/china_3.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#article-drawings div:nth-child(4){
  position: absolute;
  top:230vh;
  left: 60vw;
  width: 40vw;
  height: 60vh;
  background-image: url("/media-files/chile_1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#section4 {
  background-color: lightseagreen;
}

#article-inspiration .video4{
  position: absolute;
  top:310vh;
  right:10vw;
}

#article-inspiration div:nth-child(2){
  position: absolute;
  top:310vh;
  left: 5vw;
  width: 40vw;
  height: 60vh;
  background-image: url("/media-files/buildings.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

#article-inspiration div:nth-child(3){
  position: absolute;
  top:360vh;
  right: 25vw;
  width: 30vw;
  height: 40vh;
  background-image: url("/media-files/notebook-business.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

#socialMediaLinks{
    position:fixed;
    top: 15vh;
    left:1vw;
    width: 7vw;
    height: 40vh;
}

.link-facebook{
    position:absolute;
    width: 7vw;
    height: 7vh;
    background-image: url('/media-files/facebook.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.link-instagram{
    position: absolute;
    top: 7vh;
    width: 7vw;
    height: 7vh;
    background-image: url('/media-files/instagram.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.link-instagram{
    position: absolute;
    top: 8vh;
    width: 7vw;
    height: 7vh;
    background-image: url('/media-files/instagram.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.link-pinterest{
    position: absolute;
    top: 16vh;
    width: 7vw;
    height: 7vh;
    background-image: url('/media-files/pinterest.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.link-linkedin{
    position: absolute;
    top: 24vh;
    width: 7vw;
    height: 7vh;
    background-image: url('/media-files/linkedin.png');
    background-size: contain;
    background-repeat: no-repeat;
}
